// Place all the styles related to the Attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.float-message {
  float: right;
  right: 30px;
  top: 60px;
  position: fixed;
  width: 300px;
  max-height: 80%;
  border: dotted;
  border-width: 1px;
  padding: 10px;

  overflow: auto;
}
