// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$list_width: 230px;
$sqr-side: 200px;
$sqr-margin: 5px;


.sqr {
  float: left;
  width: $sqr-side;
  height: $sqr-side;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: $sqr-margin;

  a:link, a:hover, a:visited, a:active {
    color: #000;
    text-decoration: none;
  }
}

.sqr-img {
  object-fit: cover;
  object-position: center; 
  width: $sqr-side;
  height: $sqr-side;
  position: absolute;
  left: 0;
}

$line_height: 1.6em;

.message-head {
  position: absolute;
  right: 0;
  bottom: 0;
  width: $sqr-side;
  min-height: $line_height;
  line-height: $line-height;
  text-align: center;
  text-overflow: ellipsis;
  z-index: 10;
  background-color: #000;
  opacity: 0;
  color: #FFF;
//  display:inline-block;
//  display: flex;
//  flex-flow: column;
}

.hover-icon {
  position: absolute;
  top: $sqr-margin;
  width: 30px;
  opacity: 0;
  z-index: 10;
}

.loveca {
  right: $sqr-margin;
}

.facebook {
  left: $sqr-margin;
}

.sqr:hover .message-head {
  opacity: 0.7;
}

.sqr:hover .loveca, .sqr:hover .facebook {
  opacity: 1;
}

.img_p {
  margin: 5px;
  text-align: center;
  max-width: 280px;
  max-height: 300px;
  height: auto;
}

.img_p_list {
  max-width: 200px;
}

.img_show {
  max-width: $list_width;
}

.scrollable {
  width: 300px;
  max-height: 300px;
  text-overflow: ellipsis;
  overflow: auto;
}
