// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test {
  float: left;
  background-color: #FFBBAA;
  border-radius: 15px;
  margin: 20px;
  padding: 5px;
  width: 220px;
  height: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.img_p {
  margin: 5px;
  text-align: center;
  max-width: 150px;
  height: auto;

}


