// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$list_width: 230px;


.test {
  float: left;
  border-radius: 5px;
//  background-color: #FFDDDD;
  border-bottom-style:dotted;
  margin: 20px;
  padding: 5px;
  width: $list_width;
  height: 400px;
  text-overflow: ellipsis;
  overflow: auto;
}

.img_p {
  margin: 5px;
  text-align: center;
  max-width: 280px;
  max-height: 300px;
  height: auto;
}

.img_p_list {
  max-width: 200px;
}

.img_show {
  max-width: $list_width;
}

.scrollable {
  width: 300px;
  max-height: 300px;
  text-overflow: ellipsis;
  overflow: auto;
}
