// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$padding-lr: 30px;
$sqr-side-s: 50px;

.pic-wall {
  width: 22 * $sqr-side-s; 
  height: 9 * $sqr-side-s;
}

.wall-pic {
  margin: 1px;
  float: left;
  object-fit: cover;
  width: $sqr-side-s;
  height: $sqr-side-s;
  z-index: -1;
}

.cover-pic-wall {
  position: absolute;
  background-color: #FFF;
  opacity: 0.7;
}

div.ind-1 {
  min-width: 50%;
  height: auto;
//  border: solid;
//  border-size: 1px;
  text-align: center;
  div.ind-1-2 {
    display: inline-block;
    width: 40%;
    height: 100px;
  }
}

div.ind-pre {
  z-index: 0;
  border: dashed;
  border-size: 1px;
  border-color: #666;
  display: table-cell;
  .sqr-lr {
    width: 30px;
    left: 0;
    top: 0;
  }
  .arr {
    top: 35%;
    position: absolute;
    height: 40px;
  }
  .arr-1 { left: 0; }
  .arr-2 { right: 0; }
}

