<% x = a || p %>
<div class="modal fade" id=<%= x.pid %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog big-modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-pic-div"><%= link_to image_tag(x.picture, class: 'modal-pic'), x.link %></div>
        <div class="modal-message"><%= simple_format(p.message) %></div>
      </div>
    </div>
  </div>
</div>
