<div>
    <% @product.each do |p| %>
    <div class="test">
        <div class="img_p"><%= image_tag(p.picture) %></div>
        <div class="message"><%= simple_format(p.message) %></div>
    </div>
    <% end %>
</div>
