<div class='container'>
    <% @products.each do |p| %>
        <% if p.attachments.empty? %>
            <% if p.picture %>
                <%= image_tag(p.picture, class: 'test_img') %>
            <% else %>
                <div class='test_2'>
                    <%= simple_format(p.message) %>
                </div>
            <% end %>
        <% else %>
            <% p.attachments.each do |a| %>
                <%= image_tag(a.image_src, class: 'test_img') %>
        <% end %>
    <% end %>
<% end %>
</div>
<p>
<%= paginate @products %>
</p>

