<div class='container'>
  <% @products.each do |p| %>
    <% if p.attachments.empty? %>
      <%= render 'sqr', x: p, p: p %>
    <% else %>
      <% p.attachments.each do |a| %>
        <%= render 'sqr', x: a, p: p %>
      <% end %>
    <% end %>
  <% end %>
</div>
<p>
<%= paginate @products %>
</p>
