<div>
    <% @products.each do |p| %>
        <div class="test">
            <div style="text-align: center"><%= link_image_for(p) %></div>
            <div class="message"><%= simple_format(p.message) %></div>
            <div><%= p.created_time %></div>
        </div>
    <% end %>
</div>
<%= paginate @products %>

